version: '3.9'

services:
  livekit:
    image: livekit/livekit-server:latest
    command: --config /etc/livekit.yaml
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml
    networks:
      - livekit-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - LIVEKIT_URL=wss://zoom.zacloth.com/rtc
      - LIVEKIT_API_KEY=devkey
      - LIVEKIT_API_SECRET=6RfzN3B2Lqj8vzdP9XC4tFkp57YhUBsM
    depends_on:
      - livekit
    networks:
      - livekit-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - livekit-net

networks:
  livekit-net:
    driver: bridge